<div>
    <mat-card class="registration">
        <mat-toolbar color="">
            <h2>Registration</h2>
        </mat-toolbar>
        <mat-card-content>
            <form [formGroup]="rForm" (ngSubmit)="submitForm(rForm.value)">
                <mat-form-field class="login-full-width">
                    <input matInput [formControl]="rForm.controls['username']" name="username" class="username" placeholder="Username">
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput [formControl]="rForm.controls['password']" placeholder="password" name="password" type="password" class="password">
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput [formControl]="rForm.controls['confirmPassword']" placeholder="confirmPassword" name="confirmPassword" type="password" class="confirmPassword">
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput [formControl]="rForm.controls['email']" name="email" type="text" class="email" placeholder="testemail@gmail.com">
                </mat-form-field>
                <mat-form-field class="login-full-width">
                    <input matInput [formControl]="rForm.controls['fullname']" name="fullname" type="text" class="fullname" placeholder="John Doe">
                </mat-form-field>
                <div>
                    <button mat-raised-button type="submit" color="accent">Submit</button>
                    <button mat-raised-button type="reset" color="accent">Cancel</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>